<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Signup Messenger</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/login.css">
	</head>
	<body>
		<section class="prompt">
			<h3>Messenger</h3>
			<h1>Sign up</h1>
			<form class="form" action="/user/signup" method="post">
				<section>
					<label for="username">Username</label>
					<input id="username" name="username" type="text" autocomplete="username" required>
				</section>
				<section>
					<label for="new-password">Password</label>
					<input id="new-password" name="password" type="password" autocomplete="new-password" required>
				</section>
				<p>
					<%= failSignup %>
				</p>
				<button type="submit">Sign up</button>
			</form>
			<hr>
			<p class="help">Already have an account? <a href="/user/login">Sign in</a></p>
		</section>
		<footer class="info">
			<p>Created by <a href="https://github.com/tsunamyh/">Hojat Fathpour</a></p>
			<p>Mesenger service powered by <a href="https://www.npmjs.com/package/websocket">WebSocket</a></p>
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html>
